.Main-Title{
  color: blue;
  background-color: aqua;
  font-family: 'Times New Roman', Times, serif;
  font-size: 48px;
  font-weight: 800;
  text-align: center;
}

h2 {
  text-align: center;
  color: blue;
  background-color: aqua;
  font-family: 'Times New Roman', Times, serif;
  font-size: 36px;
  font-weight: 600;
}

.Recipes {
  padding: 10px;
  list-style-type: none;
  width: 25%;
  margin: 0 auto;
}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: aqua;
  font-size: 24px;
  font-family:monospace;
  background-color: aliceblue;
  text-align: center;

}

a:hover {
  color: white;
}